.header {
	position: relative;
	margin-bottom: 20px;
	padding: 20px 0;
	background: #000;

	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__block {

		&_wide {
			flex-grow: 1;
		}
	}
}